/* Esse arquivo engloba a página home, login e alguns de seus componentes */

@supports (-webkit-touch-callout: none) and (-webkit-text-adjust: none) {
  div {
  /* isso previne os reajustes do ios*/
  -webkit-touch-callout: none;
  -webkit-text-adjust: none;
  }
}

div {
  user-select: none;
}

body {
  background-color: #343541;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.guest-login {
  width: 50%;
  height: 42px;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;
}

.changelogs {
  display: block;
  background-color: green;
  margin-top: 4.5%;
  margin-left: 25%;
}

.ClickTitle {
  color: yellow;
}

h1, h2 {
  color: white;
}

.image {
  position: absolute;
}

.click {
  position: relative;
  width: 90px;
  height: 35px;
  padding: 34px 25px 38px 25px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 19px;
  top: 13vh;
}

.click img {
  display: block;
  position: relative;
  bottom: 21px;
  left: 9px;
  bottom: 25px;
}

.top {
  width: 100vw;
  height: 55px;
  background-color: #2e2f38;
}

.top button {
  background-color: darkgreen;
  color: white;
  border: none;
  width: 22.3%;
  height: 66%;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 15px;
}

.viewclicks {
  font-size: 29px;
  font-weight: bold;
  color: red;
  margin-top: 8%;
  padding-bottom: 24px;
}

.anm {
  position: absolute;
  right: 48%;
  color: red;
  animation: shownumber 0.5s ease-in-out 1;
}

@keyframes shownumber {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -13px);
  }
  100% {
    transform: translate(0, 30px);
  }
}

.Loja {
  display: block;
  position: absolute;
  background-color: #44444E;
  z-index: 2;
  top: -500vh;
  left: 0;
  width: 90%;
  transition: top 1.3s, left 1.3s;
}

.Loja button {
  display: inline;
  width: 46.7%;
  margin: 2% 0 2% 0;
  height: 33px;
  background-color: #ff6b81;
  color: white;
  border: none;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.Loja-active {
  top: 13%;
  left: 6%;
}

.ArmorMenu {
  width: 100%;
}

.ArmorMenu button {
  background-color: #8b5cf6;
}

.ArmorMenu .b {
  background-color: #3b82f6;
}

.ArmorMenu details {
  margin: 2% 4% 2% 4%;
}

.ArmorMenu-active {
  top: 100%;
}

.PeitoMenu details, .CalcaMenu details {
  background-color: gray;
}

.rendImages {
  position: relative;
  width: 40vw;
  max-width: 300px;
  margin: 0 auto;
}

.InitialPerson {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.espada {
  top: 36%;
  right: 5%;
  width: 45%;
}

.arco {
  top: 38%;
  left: 9%;
  width: 45%;
}

.peito {
  top: 37%;
  left: 32%;
  width: 41%;
}

.calca {
  bottom: -8%;
  left: 22%;
  width: 61%;
  height: 50%;
}

.Mouse {
  width: 36px;
}

.lojaitem {
  height: 35px;
  width: 42px;
  right: 76%;
  top: 22%;
}

.lojaitem-clicked {
  height: 65px;
  width: 80px;
  right: 12%;
  top: 27%;
}

@media (min-width: 800px) {
  .top button {
    height: 50%;
    margin-top: 1%;
  }

  .Loja-active {
    top: 9.7%;
  }

  .ArmorMenu-active {
    top: 100%;
  }

  .lojaitem {
    top: 26%;
  }

  .lojaitem {
    right: 84%;
    width: 52px;
    height: 45px;
    top: 17%;
  }

  .lojaitem-clicked {
    width: 20%;
    height: 45%;
  }
}