/* esse arquivo engloba estilo de logs e da página de jogos e seus respectivos componentes */

.logs .btt {
  background-color: red;
  margin-left: 5em;
  border-left: 0.1em solid white;
  border-right: 0.1em solid white;
  margin-top: 2em;
}

.showlogs {
  background-color: #111;
  padding: 0.7em;
  border: 0.5em solid white;
  max-width: 70vw;
  min-width: 70vw;
}

.showlogs .arrow {
  font-size: 2em;
  color: white;
}

.showlogs .msgLog, .box-item h3, .box-item p {
  color: white;
}

.game {
  background-color: #515859;
  margin: 0.7em;
}

.game h3 {
  color: white;
  font-size: 1.2em;
  position: relative;
  margin-top: 0.4em;
}

.game button {
  background-color: darkgreen;
  border: none;
  border-radius: 10px;
  border: 3px solid transparent;
}

.game button:hover {
  border-color: green;
}

.game details summary, .box-item summary {
  display: inline-block;
}

.roulet button {
  width: 100%;
}

.box {
  background-color: gray;
  padding: 1em;
  margin-bottom: 2em;
  width: 48vw;
}

.box-item {
  margin: 0.5em 0;
  background-color: #b3b3b3;
}

.box-item button {
  background-color: red;
  border: none;
  width: 90%;
  margin: 0.5em;
  color: white;
  height: 2em;
}

.box-item .rarity {
  background-color: orange;
}

.box-item p {
  background-color: #e9e9d9;
  margin: 2vmax;
}

.box-item span {
  color: red;
  font-weight: bold;
}

.box-item img, .game img {
  width: 44%;
  height: 33%;
  float: left;
}

.game img {
  width: 17%;
}

.box-item .Raro {
  color: #3694ff;
}
.box-item .Comum {
  color: gray;
}
.box-item .Épico {
  color: purple;
}
.box-item .Lendário {
  color: yellow;
}
.Raro, .Comum, .Épico, .Lendário {
  font-weight: bold;
}
#spn {
  color: black;
}

@media (min-width: 900px) {
  .box-item img, .game img {
    width: 20%;
    height: 20%;
  }
}